@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2 style="text-align: center;">About Us</h2>
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="~/Content/NextWomen0.jpg" style="width:1250px; height: 400px">
        </div>

        <div class="mySlides">
            <img src="~/Content/StrongerTogether.jpg" style="width: 1250px; height: 400px">
        </div>
        <div class="mySlides">
            <img src="~/Content/Women_workplace.jpg" style="width: 1250px; height: 400px">
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <h4 style="text-align: center;"><i>"Our vision is to create next generation women who are aware of thier rights, 
        are self-sufficient to protect themself and wants to be finalcially independent. 
        We aim to provide necessary resources required to achive these goals. " </i></h4>
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
    </script>

</body>
</html>
