@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "JobOpportunities";
}
<br />
<h2 style="text-align: center;">Job Opportunities</h2>
<br>
<h5 style="text-align: center;">
    <i>
        "Next Women provides you with guide to woman-centric Job portals. Here is the list of important job opportunities website to start your journey to be finacial independent"
    </i>
</h5>
<br />
<h4 style="text-align: center;">Women-Centric Job Portals</h4>
<br />
<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.jobsforher.com/'">
<h5>Jobs For Her</h5>
</button>
<br>
<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.gharsenaukri.com/'">
<h5>Ghar Se Naukri</h5>
</button>
<br>
<button type="button" class="btn btn-outline-light" onclick="location.href='https://fairygodboss.com/'">
<h5>Fairy God Boss </h5>
</button>
<br>
<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.wherewomenwork.com/'">
<h5>Where Women Work </h5>
</button>
<br>
<button type="button" class="btn btn-outline-light" onclick="location.href='http://womenforhire.com/ '">
<h5>Women For Hire </h5>
</button>
<br>

