@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "KnowYourRights";
}

<h2 style="text-align: center;">Know Your Rights</h2>
<br>
<h5 style="text-align: center;">
    <i>
        "Next Women provides you with quick guide to women empowerment schemes provided by the goverment of India to give you a comprehensive understanding of various operational schemes.
        It focuses on the women awareness, safety, social dignity and ensure ways of earning."
    </i>
</h5>

<br>
<h4>Women Safety Scheme</h4>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/schemes/one-stop-centre-scheme-1'">
    <h5>One Stop Centre Scheme</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/bbbp-schemes'">
    <h5>Beti Bachao Beti Padhao Scheme</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/schemes/women-helpline-scheme-2'">
    <h5>Women Helpline Scheme</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.india.gov.in/spotlight/swadhar-greh-scheme'">
    <h5>SWADHAR Greh</h5>
</button>
<br>

<h4>Women Education/Emplyoment Programes</h4>


<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.startupindia.gov.in/content/sih/en/government-schemes/support_to_training_and_employment_programme.html'">
    <h5>STEP (Support to Training and Employment Program for Women)</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/schemes/working-women-hostel'">
    <h5>Working Women Hostel</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/schemes/mahila-police-volunteers'">
    <h5>Mahila Police Volunteers</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://wcd.nic.in/schemes/mahila-shakti-kendras-msk'">
    <h5>Mahila Shakti Kendras (MSK)</h5>
</button>
<br>
