@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SelfLearning";
}


<h2 style="text-align: center;">Self Learning</h2>
<br>
<h5 style="text-align: center;">
    <i>
        "Next Women provides you self Learning platform. Here is the list of important website to start your self learning journey"
    </i>
</h5>

<h4 style="text-align: center;">Self Learning Portals</h4>
<br />
<button type="button" class="btn btn-outline-light" onclick="location.href='https://gramswaraj.nirdpr.in/'">
    <h5>GramSwaraj E-learning Platform</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://portal.trainingcentre.unwomen.org/unw-catalog-mobile/'">
    <h5>UN Women Training Center</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.upgrad.com/'">
    <h5>Upgrad Learning Platform</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.coursera.org/in'">
    <h5>Coursera</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href='https://www.udemy.com/'">
    <h5>Udemy</h5>
</button>
<br>

<button type="button" class="btn btn-outline-light" onclick="location.href=https://www.edx.org/'">
    <h5>Edx</h5>
</button>
<br>


