@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "SelfDefense";
}

<!DOCTYPE html>

<h2 style="text-align: center;">Self Defense</h2>
<br>
<h5 style="text-align: center;">
    <i>
        "Next Women are self sufficient to protect themself. Here we provide you with self defense techniques every women should know"
    </i>
</h5>

<br />
<h4>Why is Self-Defense Important?</h4>

<p>
    The most significant benefit that can be obtained from self-defence techniques is the women can learn how to physically defend her.
    The training will provide tips and tricks to handle emergency and difficult situations.
    Whenever the women are facing any type of harassment, these techniques will help to provide necessary steps to fight against the situations.
    It's about time to shut down all those people who consider women as weak by learning the art of self-defense.
</p>

<h4>Memorize vulnerable spots to attack :</h4>
<p>It doesn’t matter how big or strong the attacker is, these vulnerable spots are their weak points. The main ones are the eyes, nose, throat, chest, knees, and groin.</p>

<img src="/Content/selfdefense.png" alt="selfdefense" width="300" height="150">
<br />
<h4>Self Defense moves every women should know : </h4>

<br />
<html>
<body>
    <iframe width="800" height="500" src="https://www.youtube.com/embed/KVpxP3ZZtAc">
    </iframe>
</body>
</html>
